body{
    margin: 0;
    padding: 0;
    background-color: white;
    text-align: left;
}

header{
    text-align: left;
}

h1, h2, h3{
    text-align: left;
}

p{
    text-align: left;
}

img{
    display: block;
    margin: 0;
    padding: 0;
    width: 80%;
    height: auto;
}

ul{
    width: auto;
    margin: 0;
    padding-left: 40px;
}

footer{
    background-color: beige;
    text-align: left;
}



